/* Reset */
* {
    margin: 0;
    padding: 20;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2933;
    padding: 15px 40px;
}

/* Logo */
.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

.listing li{
    list-style:circle;
}

.nav-links li a:hover {
    color: #60a5fa;
}

/* Login button */
.login-btn {
    background-color: #3b82f6;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #2563eb;
}

table, th, td{
    border: #1f2933 solid 1px;
}

.card{
    display: inline-block;
    width: 100%;
    margin: 5% 5%;
}

.card form{
    text-align: left;
}
.card form label{
    display:block;
}

.card form button{
    display: block;
    margin-top: 10px;
}