*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: blueviolet;
}

.logincard{
    display: inline-block;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 10px;
}
label{
    margin-top: 10px;
    display: block;
}
button{
    width: 100%;
    background-color: greenyellow;
    border: none;
    padding: 5px;
    margin-top: 10px;
    display: block;
}